apiVersion: v1
kind: Service
metadata:
  name: faiss-server
  namespace: development
  labels:
    app: faiss-server
spec:
  type: ClusterIP
  ports:
    - name: grpc-faiss-item-1
      port: 50051
      targetPort: 50051
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: faiss-server
  namespace: development
  labels:
    app: faiss-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendation-serving
  template:
    metadata:
      labels:
        app: recommendation-serving
    spec:
      containers:
        - name: faiss-item-1
          image: YOUR_CONTAINER_REGISTRIES/faiss-server:1.0.0
          imagePullPolicy: Always
          command: ["python", "server.py"]
          args: [
            "--dim", "528",
            #"--max_workers", "10",
            #"--num_threads", "10"
          ]
          ports:
            - containerPort: 50051
      imagePullSecrets:
        - name: acr-auth
