apiVersion: v1
kind: Service
metadata:
  name: faiss-server
  labels:
    app: faiss-server
spec:
  type: ClusterIP
  clusterIP: 10.0.186.92
  ports:
    - name: grpc-faiss
      port: 50051
      targetPort: 50051
      protocol: TCP
  selector:
    app: faiss-server
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: faiss-server
  labels:
    app: faiss-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: faiss-server
  template:
    metadata:
      labels:
        app: faiss-server
    spec:
      containers:
        - name: faiss-server
          image: YOUR_CONTAINER_REGISTRIES/faiss-server:1.0.0
          imagePullPolicy: Always
          command: ["python", "server.py"]
          args: [
            "--dim", "709"
          ]
          ports:
            - containerPort: 50051
      imagePullSecrets:
        - name: acr-auth
