apiVersion: apps/v1
kind: Deployment
metadata:
  name: faiss-server-deployment
  labels:
    app: faiss-server
spec:
  replicas: 3
  selector:
    matchLabels:
      app: faiss-server
  template:
    metadata:
      labels:
        app: faiss-server
    spec:
      containers:
        - name: faiss-server
          image: YOUR_CONTAINER_REGISTRY/faiss-server:v1
          imagePullPolicy: Always
          command: ["python", "server.py"]
          args: ["--dim", "709"]
          ports:
            - containerPort: 50051
      imagePullSecrets:
        - name: acr-auth
